
<section class="quien-soy py-2 ">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-center">
        <img
          src="../../assets//img/perfil.jpg"
          width="300"
          height="300"
          alt="soy el desarrollador"
          class="img-fluid img-thumbnail rounded-circle p-3 mb-3"
        />
      </div>
      <div
        class="col-12 col-md-6 text-center text-md-left align-self-md-center"
      >
        <h1 class="display-4 font-weight-bold text-primary">¿Quien soy?</h1>
        <p class="h5 fontic-ital">
          Que difícil pregunta, la verdad no lo sé. He cambiado tantas veces y
          hecho tantas cosas que es complicado definirme a mi mismo dentro de
          una sola categoría.
        </p>
        <p class="h5 fontic-ital">
          Puedo decirte que es lo que me gusta, pero quizás eso no es quién soy
          o lo que seré si alguna vez nos llegamos a encontrar en persona.
        </p>
        <p class="h5 fontic-ital">Pero esta bien, lo intentaré.</p>
        <!-- Boton  modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Leer
          </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Manuel Clifton</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <p> Explorador del versátil mundo de la tecnología, aficionado a la programación WEB, <strong>estudiante de segundo año de Programación en UTN FRA.</strong> </p>
                            <p>Me denomino programador JR (con mucho potencial), la creatividad es una de mis fortalezas, además de mi interés de seguir aprendiendo y mejorar mis técnicas para formarme con un perfil profesional y competitivo.</p>
                            <p>En esta ocacion realice la pagina para el primer TP de Laboratorio 4, se basa en una sala de juegos. Espero les guste.</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                    </div>
                </div>
                </div>
            </div>
  

      </div>
    </div>
  </div>


  <div class="container">

    <h1 class="display-4 font-weight-bold text-center pb-2">Mis Juego Galactico</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quae iusto fugiat doloremque corrupti 
        perferendis iure rerum sequi! Repellendus velit est sit repudiandae rerum aliquam corporis fugit sapiente accusamus voluptates
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quae iusto fugiat doloremque corrupti 
        perferendis iure rerum sequi! Repellendus velit est sit repudiandae rerum aliquam corporis fugit sapiente accusamus voluptates.</p>
  </div>
</section>
