

<div class="col-md-8 order-md-1 bg-opacity-75 bg-black">
    <h4 class="mb-3 mx-5" style="color:antiquewhite;">ENCUESTA:</h4>

       <form class="needs-validation p-2" [formGroup]="altaForm" (ngSubmit)="enviarEncuesta()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Nombre</label>
          <input formControlName="nombre" type="text" class="form-control" id="firstName" placeholder="Nombre" required>
          <div *ngIf="altaForm.get('nombre')?.hasError('required') && altaForm.get('nombre')?.touched" 
              class="form-text">El Nombere es requerido
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Apellido</label>
          <input  formControlName="apellido" type="text" class="form-control" id="lastName" placeholder="Apellido" value="" required>
            <div *ngIf="altaForm.get('apellido')?.hasError('required') && altaForm.get('apellido')?.touched" 
                class="form-text">El APELLIDO es requerido
            </div>
        </div>
      </div>


      <div class="row">
          <div class="col-md-6 mb-3">
          <label for="email">Edad</label>
          <input  formControlName="edad" type="number" class="form-control" id="edad" placeholder="18-99" required>
            <div *ngIf="altaForm.get('edad')?.hasError('required') && altaForm.get('edad')?.touched" 
                class="form-text">La Edad es requerida
            </div>
            <div *ngIf="altaForm.get('edad')?.hasError('edadPasa') && altaForm.get('edad')?.touched" 
            class="form-text">La Edad debe ser entre 18 y 99</div>

          </div>
          <div class="col-md-6 mb-3">
              <label for="number">Telefono</label>
              <input formControlName="telefono" type="number" class="form-control" id="telefono" placeholder="2966154748" required>
              <div *ngIf="altaForm.get('telefono')?.hasError('required') && altaForm.get('telefono')?.touched" 
                class="form-text">El Telefono es requerido</div>
               <div *ngIf="altaForm.get('telefono')?.hasError('tieneDies') && altaForm.get('telefono')?.touched" 
               id="telefono" class="form-text">Maximo 10 numeros</div>
               <div *ngIf="altaForm.get('email')?.hasError('tieneLetra') && altaForm.get('email')?.touched" 
               class="form-text">Solo adminte numeros</div>
          </div>
      </div>

      <div class="row d-flex justify-content-center">
          <div class="col-md-8 mb-3 ">
          <label for="email">¿De que nacionalidad Eres?</label>
          <input formControlName="respuesta1" type="text" class="form-control" id="email" placeholder="Ej: Argentina" required>
            <div *ngIf="altaForm.get('respuesta1')?.hasError('required') && altaForm.get('respuesta1')?.touched" 
                class="form-text">Respuesta Requerida
            </div>
          </div>
      </div>

      
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 mb-3 ">
            <label for="">Mate amargo o Dulce?</label>
            <select  class="custom-select d-block w-100" formControlName="respuesta2" required>
                <option value="Amargo">AMARGO</option>
                <option value="Dulce">DULCE</option>
              </select>
        </div>
      </div>


      <div class="row d-flex justify-content-center">
        <div class="col-md-10 mb-3">
          <label for="firstName"> ¿Que te gusts mas?: Playa o Montaña</label>

          <div class="form-check d-flex justify-content-around">
            <div>
                <input formControlName="respuesta3" class="form-check-input" type="checkbox" name="flexRadioDefault" id="check1" >
                <label class="form-check-label" for="flexRadioDefault1">
                  Playa
                </label>
            </div>
            <div>
                <input formControlName="respuesta3" class="form-check-input" type="checkbox" name="flexRadioDefault" id="check2" >
                <label class="form-check-label" for="flexRadioDefault2">
                  Montaña
                </label>
            </div>
          </div>


          <div *ngIf="altaForm.get('respuesta3')?.hasError('required') && altaForm.get('pregunta3')?.touched" 
          class="form-text">Debe elegir una Opcion.
      </div>
        </div>
      </div>   


      <div class="d-flex justify-content-center">
        <hr class="mb-4">
        <button [disabled]="!altaForm.valid" class="btn btn-warning btn-lg btn-block" type="submit">Enviar</button>
      </div>
    </form>
  </div>