

    <h1 class="text-center">Mi Juego</h1>
    <div class="card-header bg-info">
        <h4 class="text-center">puntos:{{puntos}} / {{necesario}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tiempo: {{tiempo}} </h4>
   </div>   
   <div [ngStyle]="style">
        <div (mouseover)="sumarPuntos()" [ngStyle]="stylePLayer">

        </div>
   </div>
   <div class="container">
        <div class="row">
          <div class="col-12 mt-2">
               <div class="card">
                    <div class="card-header bg-gradient">
                         <h4 class="text-center">HISTORIAL</h4>
                         <div class="input-group input-group-sm row">
                                <span class="input-group-addon col-lg-12" id="resultado"></span>
                           </div>
                    </div>
                    <div class="card-body text-center">
                         <h4>GANADAS: 0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PERDIDAS: 0</h4>
                    </div>   
               </div>
          </div> 
        </div>
   </div>
             	
                
            

