

<!--     ////////////////////////////      PROYECTOS       /////////////////////      -->
<section class="proyectos py-0 mt-0">
    <div class="container">
      <h1 class="display-4 font-weight-bold text-center pb-2">Mis Juegos</h1>
      <div class="row text-md-center">

        <article class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
          <div class="card mb-5">
            <img class="card-img-top img-fluid" src="../../assets/img/j_ahorcado.jpg" alt="proyecto ">
            <div class="card-body">
              <h5 class="card-title">Ahorcado</h5>
              <p class="card-text">El ahorcado (también llamado colgado) es un juego de adivinanzas de para dos o más jugadores.
                   Un jugador piensa en una palabra, frase u oración y el otro
                    trata de adivinarla según lo que sugiere por letras o números.</p>
              <a  routerLink="/juegos/ahorcado"  class="btn btn-primary">Ir al Juego</a>
            </div>
          </div>
        </article>
        
        <article class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
          <div class="card mb-5">
            <img class="card-img-top  img-fluid " src="../../assets/img/j_mayorMenor.jfif" alt="proyecto ">
            <div class="card-body">
              <h5 class="card-title">Mayor o Menor</h5>
              <p class="card-text">Mayor Menor es un juego de cartas donde el objetivo es adivinar si la siguiente carta
                                     en salir será mayor o menor que la que hay sobre el tapete.
                                    </p>
              <a routerLink="/juegos/mayormenor"  class="btn btn-primary">Ir al Juego</a>
            </div>
          </div>
        </article>

        <article class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
          <div class="card mb-5">
            <img class="card-img-top img-fluid" src="../../assets/img/j_preguntados.jfif" alt="proyecto ">
            <div class="card-body">
              <h5 class="card-title">Preguntados</h5>
              <p class="card-text">
                Dos jugadores compiten en ser el primero en obtener seis personajes, cada uno de ellos representando una temática
                específica. Para ello, deben rellenar una barra de progreso contestando correctamente preguntas de selección simple.
                </p>
              <a routerLink="/juegos/preguntados" class="btn btn-primary">Ir al Juego</a>
            </div>
          </div>
        </article>

        <article class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
            <div class="card mb-5">
              <img class="card-img-top img-fluid" src="../../assets/img/jpelota.png" alt="proyecto ">
              <div class="card-body">
                <h5 class="card-title">Mi Juego</h5>
                <p class="card-text">Seleccionas una moneda y una criptomoneda, consume informacion de la API y devueve el valor de la criptomoneda</p>
                <a routerLink="/juegos/mijuego" class="btn btn-primary">Ver proyecto</a>
              </div>
            </div>
          </article>
      </div>
    </div>
  </section>
  
  <!--     ////////////////////////////      PIE DE PAGINA       /////////////////////      -->
  <footer class="pie-de -agina text-center text-md-right bg-dark text-white">
    <div class="container">
      <p class="m-0 py-3">Copiright &times;  2021. Todos los derechos reservados MANUEL CLIFTON</p>
    </div>
  </footer>